In [2]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/ubuntu/.local/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /home/ubuntu/.local/lib/python3.10/site-packages (from openpyxl) (2.0.0)

In [6]:
import openpyxl 

wb = openpyxl.load_workbook('/home/ubuntu/excel_tests/videogamesales.xlsx')

ws = wb.active

ws = wb['vgsales'] (this is another way to select a specific sheet)

In [7]:
print('Total number of rows: '+str(ws.max_row)+'. And total number of columns: '+str(ws.max_column))

Total number of rows: 16328. And total number of columns: 11

In [8]:
print('The value in cell A1 is: '+ws['A1'].value)

The value in cell A1 is: Rank

In [10]:
values = [ws.cell(row=1,column=i).value for i in range(1,ws.max_column+1)]
print(values)

['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Sum of Sales']

In [11]:
# write data to a specific cell
data=[ws.cell(row=i,column=2).value for i in range(2,12)]
print(data)

['Wii Sports', 'Super Mario Bros.', 'Mario Kart Wii', 'Wii Sports Resort', 'Pokemon Red/Pokemon Blue', 'Tetris', 'New Super Mario Bros.', 'Wii Play', 'New Super Mario Bros. Wii', 'Duck Hunt']

reading data from a range of cells (from column 1 to 6)

In [12]:
my_list = list()

print first 10 rows

In [17]:
for value in ws.iter_rows(
    min_row=1, max_row=11, min_col=1, max_col=6, 
    values_only=True):
    my_list.append(value)

In [18]:
print("First 10 rows:")   
for ele1,ele2,ele3,ele4,ele5,ele6 in my_list:
    (print ("{:<8}{:<35}{:<10}{:<10}{:<15}{:<15}".format(ele1,ele2,ele3,ele4,ele5,ele6)))

First 10 rows:
Rank    Name                               Platform  Year      Genre          Publisher
1       Wii Sports                         Wii       2006      Sports         Nintendo
2       Super Mario Bros.                  NES       1985      Platform       Nintendo
3       Mario Kart Wii                     Wii       2008      Racing         Nintendo
4       Wii Sports Resort                  Wii       2009      Sports         Nintendo
5       Pokemon Red/Pokemon Blue           GB        1996      Role-Playing   Nintendo
6       Tetris                             GB        1989      Puzzle         Nintendo
7       New Super Mario Bros.              DS        2006      Platform       Nintendo
8       Wii Play                           Wii       2006      Misc           Nintendo
9       New Super Mario Bros. Wii          Wii       2009      Platform       Nintendo
10      Duck Hunt                          NES       1984      Shooter        Nintendo
Rank    Name                               Platform  Year      Genre          Publisher
1       Wii Sports                         Wii       2006      Sports         Nintendo
2       Super Mario Bros.                  NES       1985      Platform       Nintendo
3       Mario Kart Wii                     Wii       2008      Racing         Nintendo
4       Wii Sports Resort                  Wii       2009      Sports         Nintendo
5       Pokemon Red/Pokemon Blue           GB        1996      Role-Playing   Nintendo
6       Tetris                             GB        1989      Puzzle         Nintendo
7       New Super Mario Bros.              DS        2006      Platform       Nintendo
8       Wii Play                           Wii       2006      Misc           Nintendo
9       New Super Mario Bros. Wii          Wii       2009      Platform       Nintendo
10      Duck Hunt                          NES       1984      Shooter        Nintendo
Rank    Name                               Platform  Year      Genre          Publisher
1       Wii Sports                         Wii       2006      Sports         Nintendo
2       Super Mario Bros.                  NES       1985      Platform       Nintendo
3       Mario Kart Wii                     Wii       2008      Racing         Nintendo
4       Wii Sports Resort                  Wii       2009      Sports         Nintendo
5       Pokemon Red/Pokemon Blue           GB        1996      Role-Playing   Nintendo
6       Tetris                             GB        1989      Puzzle         Nintendo
7       New Super Mario Bros.              DS        2006      Platform       Nintendo
8       Wii Play                           Wii       2006      Misc           Nintendo
9       New Super Mario Bros. Wii          Wii       2009      Platform       Nintendo
10      Duck Hunt                          NES       1984      Shooter        Nintendo
Rank    Name                               Platform  Year      Genre          Publisher
1       Wii Sports                         Wii       2006      Sports         Nintendo
2       Super Mario Bros.                  NES       1985      Platform       Nintendo
3       Mario Kart Wii                     Wii       2008      Racing         Nintendo
4       Wii Sports Resort                  Wii       2009      Sports         Nintendo
5       Pokemon Red/Pokemon Blue           GB        1996      Role-Playing   Nintendo
6       Tetris                             GB        1989      Puzzle         Nintendo
7       New Super Mario Bros.              DS        2006      Platform       Nintendo
8       Wii Play                           Wii       2006      Misc           Nintendo
9       New Super Mario Bros. Wii          Wii       2009      Platform       Nintendo
10      Duck Hunt                          NES       1984      Shooter        Nintendo
Rank    Name                               Platform  Year      Genre          Publisher
1       Wii Sports                         Wii       2006      Sports         Nintendo
2       Super Mario Bros.                  NES       1985      Platform       Nintendo
3       Mario Kart Wii                     Wii       2008      Racing         Nintendo
4       Wii Sports Resort                  Wii       2009      Sports         Nintendo
5       Pokemon Red/Pokemon Blue           GB        1996      Role-Playing   Nintendo
6       Tetris                             GB        1989      Puzzle         Nintendo
7       New Super Mario Bros.              DS        2006      Platform       Nintendo
8       Wii Play                           Wii       2006      Misc           Nintendo
9       New Super Mario Bros. Wii          Wii       2009      Platform       Nintendo
10      Duck Hunt                          NES       1984      Shooter        Nintendo

write the sum of sales on cell K1

In [19]:
ws['K1'] = 'Sum of Sales'

# ws.cell(row=1, column=11, value = 'Sum of Sales')
wb.save('videogamesales.xlsx')

In [ ]:

# row_position = 2
# col_position = 7

# total_sales = ((ws.cell(row=row_position, column=col_position).value)+
#                (ws.cell(row=row_position, column=col_position+1).value)+
#                (ws.cell(row=row_position, column=col_position+2).value)+
#                (ws.cell(row=row_position, column=col_position+3).value))

# ws.cell(row=2,column=11).value=total_sales
# wb.save('videogamesales.xlsx')

# Calculate total sales for each row and write to column 11
# Start from row 2 to avoid headers
# and assuming sales data is in columns 7 to 10 (NA_Sales to Other_Sales)
# Initialize row position

Rank    Name                               Platform  Year      Genre          Publisher
1       Wii Sports                         Wii       2006      Sports         Nintendo
2       Super Mario Bros.                  NES       1985      Platform       Nintendo
3       Mario Kart Wii                     Wii       2008      Racing         Nintendo
4       Wii Sports Resort                  Wii       2009      Sports         Nintendo
5       Pokemon Red/Pokemon Blue           GB        1996      Role-Playing   Nintendo
6       Tetris                             GB        1989      Puzzle         Nintendo
7       New Super Mario Bros.              DS        2006      Platform       Nintendo
8       Wii Play                           Wii       2006      Misc           Nintendo
9       New Super Mario Bros. Wii          Wii       2009      Platform       Nintendo
10      Duck Hunt                          NES       1984      Shooter        Nintendo
Rank    Name                               Platform  Year      Genre          Publisher
1       Wii Sports                         Wii       2006      Sports         Nintendo
2       Super Mario Bros.                  NES       1985      Platform       Nintendo
3       Mario Kart Wii                     Wii       2008      Racing         Nintendo
4       Wii Sports Resort                  Wii       2009      Sports         Nintendo
5       Pokemon Red/Pokemon Blue           GB        1996      Role-Playing   Nintendo
6       Tetris                             GB        1989      Puzzle         Nintendo
7       New Super Mario Bros.              DS        2006      Platform       Nintendo
8       Wii Play                           Wii       2006      Misc           Nintendo
9       New Super Mario Bros. Wii          Wii       2009      Platform       Nintendo
10      Duck Hunt                          NES       1984      Shooter        Nintendo